-#%h1 Listing topics
-#
-#%table
-#  %tr
-#    %th Name
-#    %th
-#    %th
-#    %th
-#
-#  - @topics.each do |topic|
-#    %tr
-#      %td= topic.name
-#      %td= link_to 'Show', topic
-#      %td= link_to 'Edit', edit_topic_path(topic)
-#      %td= link_to 'Destroy', topic, :method => :delete, :data => { :confirm => 'Are you sure?' }
-#
-#%br
-#
-#= link_to 'New Topic', new_topic_path



%h1 Список тем

%table.table
  %tr
    %th= Topic.human_attribute_name(:name)
    %th
    %th
    %th

  - @topics.each do |topic|
    %tr
      %td= topic.name
      %td
        = link_to 'Показать', topic
      %td
        -if session[:user] == 'tutor'
          = link_to 'Изменить', edit_topic_path(topic)
      %td
        -if session[:user] == 'tutor'
          = link_to 'Удалить', topic, :method => :delete, :data => { :confirm => 'Вы уверены?' }

%br

-if session[:user] == 'tutor'
  = link_to 'Добавить тему', new_topic_path
